table {
    border-collapse: collapse;
    width: 700px;
    font-family: calibri,Helvetica, sans-serif;
    font-weight: bold;
    font-size:100%;
    margin-left: 0%;

	}
	th {
    color: #FFFFFF;
    border-bottom: 2px solid #adff22;
    background-color: #808000;
    background-repeat: no-repeat;
    border-right: 2px solid #ffffff;
    border-radius: 5px;

	}
	td {
	  background: #f6fef6;
	  color: #808080;
	  border: 2px solid #FFFFFF;
	  text-align: center;
	}

	table, td, th {
    padding: 2%;
	}
	tr th:first-child, tr td:first-child 
	{
  		text-align: left;
	}
	tr td {
  	opacity: 0.7;
  }
tr td:hover {
  opacity: 3.0;
  text-align: center;
  font-size: 100%;
}
    </style>